<ul class="nav navbar-left">
    <li class="navbar-purple">{{#link-to 'switchapps'}}<i class="fa fa-cogs fa-fw"></i> Applications{{/link-to}}</li>
</ul>
{{#if model.title}}
<ul class="nav navbar-top-links navbar-left">
    <p class="navbar-text"><i class="fa fa-tag fa-fw"></i> <b>{{model.title}}</b></p>
    {{#if model.belongs_to_user}}<li>{{#link-to 'switchapps.edit' model}}<i class="fa fa-list fa-fw"></i> Properties{{/link-to}}</li>{{/if}}
    <li>{{#link-to 'switchapps.composer' model}}<i class="fa fa-pencil fa-fw"></i> Composer{{/link-to}}</li>
    <li>{{#link-to 'switchapps.tosca' model}}<i class="fa fa-file-code-o fa-fw"></i> TOSCA{{/link-to}}</li>
</ul>
{{/if}}