<div class="container-fluid">
  <object data='http://193.2.72.83:7070/SWITCH/{{deploy}}?ips={{ips}}' height='500px'
          width='100%'></object>
  <button class="btn btn-info" href="#">SAVE TO SWITCH</button>
</div>