<div class="row">
    <div id="paper-wrapper" class="paper col-sm-12" style="border: 1px solid lightgrey; overflow: scroll; padding-left: 0;">
      <div id="paper" style="width: 2200px; height: 1500px;"></div>
    </div>
    <canvas id="canvas" style="display: none; background-color: #ffffff"></canvas>
    <svg id="emptysvg" xmlns="http://www.w3.org/2000/svg" version="1.1" height="2"/>
</div>