<small class="pull-right">
  <button id="component-discard" type="button" class="btn btn-default btn-sm" {{action 'hideSshConsole'}}>
      <i class="fa fa-times fa-fw"></i></button>
</small>
<div class="terminal" width="800px" height="800px"></div>
