<div class="loading-pane">
    <div class="loading-message">
        Loading stuff, please have a cold beer. <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    </div>
</div>